EjemploConsumirServicioWeb/xml-resources/web-service-references/ServicioWebEjemplo/wsdl/localhost_8084/EjemploServiciosWeb/ServicioWebEjemplo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="ServicioWebEjemplo">
<types>
<xsd:schema>
<xsd:import namespace="http://serviciosWeb/" schemaLocation="http://localhost:8084/EjemploServiciosWeb/ServicioWebEjemplo?xsd=1" />
</xsd:schema>
</types>
<message name="datosProducto">
<part name="parameters" element="tns:datosProducto" />
</message>
<message name="datosProductoResponse">
<part name="parameters" element="tns:datosProductoResponse" />
</message>
<message name="precioConIva">
<part name="parameters" element="tns:precioConIva" />
</message>
<message name="precioConIvaResponse">
<part name="parameters" element="tns:precioConIvaResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="ServicioWebEjemplo">
<operation name="datosProducto">
<input wsam:Action="http://serviciosWeb/ServicioWebEjemplo/datosProductoRequest" message="tns:datosProducto" />
<output wsam:Action="http://serviciosWeb/ServicioWebEjemplo/datosProductoResponse" message="tns:datosProductoResponse" />
</operation>
<operation name="precioConIva">
<input wsam:Action="http://serviciosWeb/ServicioWebEjemplo/precioConIvaRequest" message="tns:precioConIva" />
<output wsam:Action="http://serviciosWeb/ServicioWebEjemplo/precioConIvaResponse" message="tns:precioConIvaResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://serviciosWeb/ServicioWebEjemplo/helloRequest" message="tns:hello" />
<output wsam:Action="http://serviciosWeb/ServicioWebEjemplo/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="ServicioWebEjemploPortBinding" type="tns:ServicioWebEjemplo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="datosProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="precioConIva">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioWebEjemplo">
<port name="ServicioWebEjemploPort" binding="tns:ServicioWebEjemploPortBinding">
<soap:address location="http://localhost:8084/EjemploServiciosWeb/ServicioWebEjemplo" />
</port>
</service>
</definitions>