EjemploConsumirServicioWeb/xml-resources/web-service-references/ServicioWebEjemplo/wsdl/localhost_8084/EjemploServiciosWeb/ServicioWebEjemplo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://serviciosWeb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serviciosWeb/">

<xs:element name="datosProducto" type="tns:datosProducto" />

<xs:element name="datosProductoResponse" type="tns:datosProductoResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="precioConIva" type="tns:precioConIva" />

<xs:element name="precioConIvaResponse" type="tns:precioConIvaResponse" />

<xs:complexType name="precioConIva">
<xs:sequence>
<xs:element name="precioSinIva" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="precioConIvaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosProducto">
<xs:sequence>
<xs:element name="producto" type="tns:producto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="datosProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>